body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.card {
    background: white;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
